<div id="header-container">
    <h3>Here is a migrant based information</h3>
</div>
<div id="register-container">
    <form [formGroup]="updateForm" (ngSubmit)="update()" id="register-form">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Amount of children:</mat-label>
            <input matInput id="amountOfChildren" formControlName="amountOfChildren"
                type="number"
                min="0"
                [value]="amountOfChildren"
                required>
                <mat-error>
                    Enter a number
                </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Family status:</mat-label>
            <mat-select  id="familyStatus" formControlName="familyStatus" required [value]="familyStatus">
                <mat-option *ngFor="let status of familyStatuses" [value]="status">{{ status }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a family status
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Housing type:</mat-label>
            <mat-select  id="housing" formControlName="housing" required [value]="housing">
                <mat-option *ngFor="let housing of housingTypes" [value]="housing">{{ housing }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a housing type of yours
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Are you employed:</mat-label>
            <mat-select  id="isEmployed" formControlName="isEmployed" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Are you an official refugee:</mat-label>
            <mat-select  id="isOfficialRefugee" formControlName="isOfficialRefugee" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Are you a forced migrant:</mat-label>
            <mat-select  id="isForcedMigrant" formControlName="isForcedMigrant" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Are you a common migrant:</mat-label>
            <mat-select  id="isCommonMigrant" formControlName="isCommonMigrant" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error!=''">
            {{error}}
        </mat-error>
        <button id="update" mat-raised-button [disabled]="!updateForm.valid"> 
            Confirm
        </button>
      </form>
</div>