<div id="header-container">
    <h3>At first, please, provide some general information.</h3>
</div>
<div id="register-container">
    <form [formGroup]="updateForm" (ngSubmit)="update()" id="register-form">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Do you suggest a place:</mat-label>
            <mat-select  id="hasAPlace" formControlName="hasAPlace" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Can you translate:</mat-label>
            <mat-select  id="isATranslator" formControlName="isATranslator" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Do you represent an organisation:</mat-label>
            <mat-select  id="isOrganisation" formControlName="isOrganisation" required>
                <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error>
                Choose a value
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="error!=''">
            {{error}}
          </mat-error>

        <button id="register" mat-raised-button [disabled]="!updateForm.valid"> 
            Confirm
        </button>
      </form>
</div>