<div id="home-container">
    <div id="welcome-card">
        <h1>Welcome</h1>
        <div id="line"></div>
        <h2>"HelpGetSet" is a simple social network, which is meant to connect people who struggle and who are eager to help.
            Unfortunately, there have been still many refugees, forced migrants and common people who need some help with settling 
            themselves down, but there is a lack of information, resources and contacts for them. On other hand, there are still
            people who is willing to help as much as it is possible for them: to translate while coping with burocracy, 
            to host a family for some time, to donate some close etc. 
            <br>Last but not least! We have collected an important information about some countries, wich is connected to solving
            problems while moving abroad, and knowing about laws and main rules. The amount of countries and updates has been growing,
            and if you have some to add, you are always welcome to share your experience.
            <br>There is also a possibility to publish some posts with needs or advertisement, to find some people, in according to your
            needs, and to communicate with other users, all you need for the full pack is to register, or if you already have an account,
            please, log in.
        </h2>
        <div id="possible-operations">
            <button mat-button id="button" matTooltip="You can communicate to other users" matTooltipPosition="above" routerLink="/login">
                <mat-icon id="chat">mail_outline</mat-icon>
            </button>
            <button mat-button id="button" matTooltip="You can find useful country information" matTooltipPosition="above" routerLink="/countries">
                <mat-icon id="info">help_outline</mat-icon>
            </button>
            <button mat-button id="button" matTooltip="You can find new people" matTooltipPosition="above" routerLink="/login">
                <mat-icon id="searching">search</mat-icon>
            </button>
        </div>
    </div>
    <!-- <profile *ngIf="isLoggedIn"></profile> -->
    
</div>
