<mat-card>
    <mat-card-content>
        <div class="header">
            <h1>{{foundUser.userName}}</h1>
        </div>
        <p>{{foundUser.firstName}} {{foundUser.lastName}}</p>
        <p>Phone number: {{foundUser.phoneNumber}}</p>
        <p>Came from: {{originalCountry.name}}, {{originalCountry.shortName}}</p>
        <p>Currently in: {{currentCountry.name}}, {{currentCountry.shortName}}</p>
        <p *ngIf="isMigrant" >Is a migrant </p>
        <p *ngIf="isVolunteer" >Is a volunteer </p>
    </mat-card-content>
</mat-card>
