.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    height: auto;
    align-items: center;
    overflow: hidden;
    background-color: #daf5f8;
}
.mat-mdc-card{
    background-color: #daf5f8;
    margin-top: 1vh;
    color: #0a4045;
    width: 90%;
    margin-bottom: 1vh;
    padding: 2%;
}

.profile-container{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header h1{
    margin-bottom: 1vh;
}

p{
    font-size: medium;
}

.mat-mdc-card-content{
    width: 100%;
}