<div class="version-container">
    <form [formGroup]="postForm" (ngSubmit)="addNewPost()" id="update-form">
        <mat-label>Put your information here:</mat-label>
        <textarea matInput class="text-area" formControlName="content"
            required
            type="text">
        </textarea>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Connected country:</mat-label>
            <mat-select  id="country" formControlName="countryId" required>
                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
            </mat-select>
                    <mat-error>
                        Choose country name
                    </mat-error>
        </mat-form-field>

        <mat-error *ngIf="postError!=''">
            {{postError}}
          </mat-error>
        <button mat-raised-button [disabled]="!postForm.valid">
            Create post
            <mat-icon>sync</mat-icon>
        </button>
    </form>
</div>