<mat-card>
    <div class="info-container">
        <div class="header">
            <h1>Country: {{country.name}}, {{country.shortName}} <br>
                Creation time: {{datepipe.transform(post.creationTime, 'M/d/yy, h:mm a')}}</h1>
            <button mat-raised-button id="userLink" *ngIf="isAuthor" (click)="deletePost()">
                Delete
            </button>
        </div>
        
        <h1>Author: 
            <button mat-raised-button id="userLink" [routerLink]="['/user-profile', post.authorId]">
                {{author.userName}}
            </button>
        </h1>
        <mat-card-content>
            <p>{{post.content}}</p>
        </mat-card-content>
    </div>
</mat-card>