.mat-mdc-card{
    background-color: #74d0c7cf;
    margin-top: 1vh;
    color: #0a4045;
    width: 90%;
    margin-bottom: 1vh;
    padding: 2%;
}
.chats-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: white;
    margin-top: 2vh;
}
.forms-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: white;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header h1, .header p{
    margin-bottom: 0;
    margin-left: 2vw;
    margin-right: 2vw;
}

#left{
    width: 40%;
}

#right{
    width: 15%;
}

.error-message{
    text-align: center;
    margin-top: 10vh;
    font-size: 9vh;
    line-height: 10vh;
}
.version-container{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}
.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    height: auto;
    align-items: center;
    overflow: hidden;
    background-color: #daf5f8;
}

::ng-deep .mat-mdc-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick, .mat-error{
    color: #590d22;
}

.mat-mdc-raised-button{
    background-color: #eaeaea;
    width: 25%;
    height: 6vh;
    overflow: hidden;
    color: #353535;
}

::ng-deep .mat-mdc-form-field.mat-accent .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mat-mdc-form-field-error[_ngcontent-ng-c3708774464],
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid[_ngcontent-ng-c3708774464] .mat-form-field-outline-thick[_ngcontent-ng-c3708774464],
.mat-error[_ngcontent-ng-c3708774464],
::ng-deep .mat-mdc-form-field.mat-accent .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: #ffe8e4;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: #a8b6b6;
}

::ng-deep .mat-mdc-form-field.mat-accent .mdc-text-field--invalid .mdc-text-field__input,
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: aliceblue;
    caret-color: aliceblue;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #353535;
}


.mat-mdc-form-field{
    height: 10vh;
    width: 60%;
    font-size: large;
}
#swtich-form{
    width: 60%;
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
}

::ng-deep .mat-mdc-select-value{
    font-size: x-large;
    color: aliceblue;
}